body {
    font-family: 'Playfair Display', serif;
}
h1 {
    text-align: center;
}
table {
    margin: auto;
}
#b{
    background-color: blue;
    color: blue;
}
#bg {
    background-color: aqua;
    color: aqua;
}
#g {
    background-color: lightgreen;
    color: lightgreen;
}
#y {
    background-color: darkkhaki;
    color: darkkhaki;
}
#r {
    background-color: crimson;
    color:crimson;
}
td {
    padding: 50px;
    width: 100px;
    height: 200px;
    border: 6px solid white;
}